.git
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.log
.gitignore
Dockerfile
.dockerignore
nixpacks.toml
README.md
tests
phpunit.xml
.docker
.idea
.vagrant
Homestead.json
Homestead.yaml
